<script>
import Column from "../../materialize/grid/Column.svelte";
import Row from "../../materialize/grid/Row.svelte";
import VerticalAlign from "../../materialize/grid/VerticalAlign.svelte";
import Spinner from "../../utils/Spinner.svelte";

</script>
<div class="valign-wrapper" style="height:80vh;width=100vw">
    <Spinner></Spinner>
</div>


