<script lang="ts">
    enum RecordingStatus {
        INACTIVE,
        COUNTDOWN,
        RECORDING,
        STOPPED,
    }

    import Button from "../materialize/components/Button.svelte";
    import Icon from "../materialize/components/Icon.svelte";
    import ProgressBar from "../materialize/components/ProgressBar.svelte";
    import { createEventDispatcher } from "svelte";
    import { transition_in } from "svelte/internal";
    import Row from "../materialize/grid/Row.svelte";
import Spinner from "./Spinner.svelte";

    const dispatch = createEventDispatcher();

    let recording_supported: boolean = true;
    let media_recorder = null;
    let status: RecordingStatus = RecordingStatus.INACTIVE;
    let curr_audio_chunks = [];
    function start_audiorecorder() {
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            return navigator.mediaDevices
                .getUserMedia({
                    audio: true,
                })
                .then((stream) => {
                    curr_audio_chunks = [];
                    media_recorder = new MediaRecorder(stream);
                    media_recorder.ondataavailable = function (e) {
                        curr_audio_chunks.push(e.data);
                    };
                    setTimeout(() => {
                        media_recorder.start(200);
                    }, 2500);
                    count_down_321();
                })
                .catch((err) => {
                    recording_supported = false;
                });
        } else {
            recording_supported = false;
        }
    }

    function start_recording() {
        if (status === RecordingStatus.INACTIVE) {
            start_audiorecorder();
        }
    }
    function stop_recording() {
        if (status === RecordingStatus.RECORDING) {
            status = RecordingStatus.STOPPED;

            setTimeout(() => {
                media_recorder.requestData();
                media_recorder.stop();

                const blob = new Blob(curr_audio_chunks, {
                    type: "audio/ogg; codecs=opus",
                });
                fire_event_finished_blob(blob);
            }, 500);
        }
    }

    function fire_event_finished_blob(blob_data: Blob) {
        let reader = new FileReader();
        reader.readAsDataURL(blob_data);
        reader.onloadend = function () {
            let base64data = reader.result;
            dispatch("completed", {
                blob: blob_data,
                base64: base64data,
            });
        };
    }

    function fire_event_audio_amplitude(amplitude: number) {
        dispatch("audio_measurements", {
            amplitude: amplitude,
        });
    }

    let count_down = 0;
    function count_down_321() {
        status = RecordingStatus.COUNTDOWN;
        count_down = 3;
        setTimeout(() => {
            count_down = 2;
        }, 1000);
        setTimeout(() => {
            count_down = 1;
        }, 2000);
        setTimeout(() => {
            count_down = 0;
            status = RecordingStatus.RECORDING;
        }, 3000);
    }
</script>

{#if recording_supported}
    {#if status === RecordingStatus.INACTIVE}
        <Button
            on:click={start_recording}
            floating={false}
            class_list={["approu-primary", "darken-1"]}
            size="large"
            ><Icon class_list={["large"]} icon="keyboard_voice" /></Button
        >
    {:else if status === RecordingStatus.COUNTDOWN}
        <h1>{count_down}</h1>
    {:else if status === RecordingStatus.RECORDING}
        <Button
            on:click={stop_recording}
            floating={true}
            class_list={["red", "pulse"]}
            size="large"><Icon icon="stop" /></Button
        >
    {:else if status === RecordingStatus.STOPPED}
    <Spinner></Spinner>
    {/if}
{:else}
    Registrazione audio non supportata o non consentita
{/if}
