<div class="fixed-action-btn">
    <a class="btn-floating btn-large approu-primary darken-1">
        <i class="large material-icons">search</i>
    </a>
</div>

<style>
    /* .fixed-action-btn {
        right: 47%;
    } */
</style>
