<script lang="ts">
	import Button from "../materialize/components/Button.svelte";
	import Icon from "../materialize/components/Icon.svelte";
	function share()
	{
		if (window.hasOwnProperty("AndroidInterface"))
		{
			AndroidInterface.share_text(title, text);
			M.toast({html: 'Condiviso intent nativo', classes: 'rounded'});
		}
		else if (navigator.share)
		{
			navigator.share({
			title: title,
			url: url,
			text: text
			});
			M.toast({html: 'Condiviso navigator.share', classes: 'rounded'});
		}
		else
		{
			M.toast({html: 'Impossibile condividere!', classes: 'rounded'});
		}
	}
	export let title: string = "";
	export let url: string = "";
	export let text: string = "";
</script>

{#if window.hasOwnProperty("AndroidInterface") || (navigator && navigator.share ) }
	<Button on:click={share}>
		<Icon icon="share"/>	
	</Button>
{/if}

