<script lang="ts">
    import { fade } from "svelte/transition";
</script>

<div  in:fade class="container center-align">
    <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle" />
            </div>
            <div class="gap-patch">
                <div class="circle" />
            </div>
            <div class="circle-clipper right">
                <div class="circle" />
            </div>
        </div>
    </div>
</div>
