<script lang="ts">
    export let index_active: number = 0;
    export let links = [{ url: "", content: "" }];
</script>

<ul class="left hide-on-med-and-down">
    {#each links as obj, i}
        <li class={index_active == i ? 'active' : ''}>
            <a href={obj.url}>{obj.content}</a>
        </li>
    {/each}
</ul>