<script lang="ts">
  let focused: boolean = false;
</script>

<form>
  <div class="input-field">
    <input
      class={focused ? "black-text" : "white-text"}
      on:focus={() => {
        focused = true;
      }}
      on:blur={() => {
        focused = false;
      }}
      id="search"
      type="search"
      required
    />
    <label class="label-icon" for="search"
      ><i class="material-icons">search</i></label
    >
    <i class="material-icons">close</i>
  </div>
</form>
