<script lang="ts">
    export let url_logo: string = "";
    export let fixed: boolean = true;
</script>

<div class="{fixed ? "navbar-fixed":""}">
    <nav>
        <div class="nav-wrapper">
            {#if url_logo}<a href={url_logo} class="brand-logo center">Logo</a>{/if}
            <slot/>
        </div>
    </nav>
    
</div>
