<script lang="ts">
    import { onMount } from 'svelte';
    let picker;
    export let label_text = "";
    export let id = ""
    export let value: Date = new Date();
    import Label from "./Label.svelte";

    onMount(async () => {
		M.Datepicker.init(picker, {
      onSelect: (v)=>{value=v}
    });
	});
</script>

<input {id}  on:change="{()=>{let a=value; value=a;}}" bind:this="{picker}" type="text" class="datepicker">
{#if label_text}
  <Label label_for={id} {label_text}></Label>
{/if}
