<script lang="ts">
    import Home from "./views/Home.svelte";
    import MyNavbar from "./views/MyNavbar.svelte";
    import ResultsList from "./views/ResultsList.svelte";
    import AddAudioRecording from "./views/AddAudioRecording.svelte";
    import Router from "svelte-spa-router";
    import { link } from "svelte-spa-router";
    import Container from "./materialize/grid/Container.svelte";
    import LoadingScreen from "./views/subcomponents/LoadingScreen.svelte";
    import NoInternetConnection from "./views/NoInternetConnection.svelte";
    import {
        languages,
        genders,
        numbers,
        lexical_categories,
        scopes,
        current_dialect,
        italian_language,
        is_online,
    } from "./stores/stores";
    import { get_host } from "./settings";
    import { Language } from "./dictionary/Language";
    import { Gender } from "./dictionary/Gender";
    import { Number } from "./dictionary/Number";
    import Tutorial from "./views/Tutorial.svelte";
import { LexicalCategory } from "./dictionary/LexicalCategory";
import { Scope } from "./dictionary/Scope";


    const routes = {
        "/": Home,
        "/search/:pk_language/:word": ResultsList,
        "/ricerca/:pk_language/:word": ResultsList,
        "/tutorial": Tutorial,
        "/audio": AddAudioRecording,//Here the id word will be fetched randomly
        "/audio/:pk_word": AddAudioRecording,
        "*": Home,
    };

    let initialization_promises = Promise.all([
        //new Promise((resolve) => setTimeout(resolve, 3000)),
        fetch(get_host() + "/api/dictionary/init/language")
            .then((r) => {
                if (r.ok) {
                    return r;
                } else {
                    throw new Error("Error retrieving languages");
                }
            })
            .then((r) => r.json())
            .then((arr) => {
                $languages = [];
                arr.forEach((el) => $languages.push(new Language(el)));
                $languages = $languages;
                $italian_language = $languages.find((l) => l.iso_code === "it");
            }),
        fetch(get_host() + "/api/dictionary/init/gender")
            .then((r) => {
                if (r.ok) {
                    return r;
                } else {
                    throw new Error("Error retrieving gender");
                }
            })
            .then((r) => r.json())
            .then((arr) => {
                $genders = [];
                arr.forEach((el) => {
                    $genders.push(new Gender(el));
                });
                $genders = $genders;
                console.log($genders);
            }),
        fetch(get_host() + "/api/dictionary/init/number")
            .then((r) => {
                if (r.ok) {
                    return r;
                } else {
                    throw new Error("Error retrieving number");
                }
            })
            .then((r) => r.json())
            .then((arr) => {
                $numbers = [];
                arr.forEach((el) => {
                    $numbers.push(new Number(el));
                });
                $numbers = $numbers;
                console.log($numbers);
            }),
        fetch(get_host() + "/api/dictionary/init/lexical_category")
            .then((r) => {
                if (r.ok) {
                    return r;
                } else {
                    throw new Error("Error retrieving lexical categories");
                }
            })
            .then((r) => r.json())
            .then((arr) => {
                $lexical_categories = [];
                arr.forEach((el) => {
                    $lexical_categories.push(new LexicalCategory(el));
                });
                $lexical_categories = $lexical_categories;
                console.log($lexical_categories);
            }),
        fetch(get_host() + "/api/dictionary/init/scope")
            .then((r) => {
                if (r.ok) {
                    return r;
                } else {
                    throw new Error("Error retrieving scopes");
                }
            })
            .then((r) => r.json())
            .then((arr) => {
                $scopes = [];
                arr.forEach((el) => {
                    $scopes.push(new Scope(el));
                });
                $scopes = $scopes;
                console.log($scopes);
            }),
    ]).catch(() => {
        $is_online = false;
    }); //Da spostare in App.svelte
</script>

<main>
    <MyNavbar />
    <Container>
        {#await initialization_promises}
            <LoadingScreen />
        {:then res}
            {#if $is_online}
                <Router {routes} />
            {:else}
                <NoInternetConnection />
            {/if}
        {:catch}
            <NoInternetConnection />
        {/await}
    </Container>
</main>
